# Nombre del action
name: Tests autom谩ticos

# En qu茅 eventos y ramas se activa
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# Tareas
jobs:
  test: # Tarea "build"
    permissions: write-all # Tiene permiso para escribir
    runs-on: ubuntu-latest # Sistema operativo en el que se ejecuta el action

    steps: # Pasos
      - uses: actions/checkout@v4 # Hace un checkout del c贸digo
      # Configura Java
      - name: Set up JDK 17
        uses: actions/setup-java@v4 # Acci贸n que configura el JDK
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: Verifica con Maven
        run: mvn --batch-mode --update-snapshots verify --file pom.xml # Comando para testear el c贸digo con maven

      # Genera un informe
      - name: Report
        uses: dorny/test-reporter@v1 # Acci贸n que genera el informe
        if: always() # Ejecutar siempre, aunque lo anterior falle.
        with:
          name: Informe de tests
          path: target/surefire-reports/*.xml # Ruta para guardar los informes
          reporter: java-junit
          fail-on-error: true # Si hay error marcar como tarea fallida.

  publish:
    needs: test # Indica que necesita que la tarea test se ejecute con 茅xito
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Publicar paquete
        run: mvn --batch-mode deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  doc:
    needs: test # Indica que necesita que la tarea test se ejecute con 茅xito
    runs-on: ubuntu-latest
    steps:
      - name: Deploy JavaDoc 
        uses: MathieuSoysal/Javadoc-publisher.yml@v2.3.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          javadoc-branch: javadoc
          java-version: 17
          target-folder: javadoc 
